.App {
  text-align: center;
  background: #7ed6df;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3% 0 3% 3%;
  margin-left: 5%;
  
}

section a {
  text-decoration: none;
  color: rgb(38, 51, 51);
}

.card {
  background: #ecedef;
  height: 300px;
  max-width: 300px;
  perspective: 1000px;
  text-transform: uppercase;
}

.card h1 {
  font-size: 15px;
}

.fas {
  font-size: 50px;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30%;

}

.btn-plus, .btn-minus {
  width: 60px;
  border-radius: 20px;
  border: 2px solid;
  color: #7ed6df;
  font-weight: bolder;
}
/* .card ul {
  padding: 0;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
} */

.item-details h2 {
  text-align: center;
}

.item-details ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 2vh;
  padding: 0;
}

.pay-container {
  border: 1px solid beige;
    padding: 0 10px;
    width: 320px;
    box-sizing: border-box;
    margin: 2px;
    background-color: beige;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    font-size: large;
    z-index: 1;
    left: 39%;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}